body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(87, 83, 83);
}
header, footer{
    background-color: #333;
    color: #fff;
    padding: 1em;
    width: 100%;
    text-align: center;
}
main{
    padding: 2em;
    background-color: rgb(95, 167, 143);
    color: #fff;
    width: 80%;
    margin: 2em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile img {
    max-width: 150px;
    border-radius: 50%;
}
.hobby ol {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border: solid tomato;
    background-color: tomato;
    box-shadow:crimson 5px 5px 5px;
}